## Modeling

Having selected our question(s) of interest, we can begin the process of building our models.

In [5]:
# libraries
import pandas as pd
import numpy as np
import sklearn

In [8]:
# read in data
contra_df = pd.read_csv('../../1-data/contraceptive_for_students.csv')
contra_df.head()

,wife_age,wife_education,husband_education,num_child,wife_religion,wife_work,husband_occupation,standard_living,media_exposure,contraceptive
0,24,2,3,3,1,1,2,3,0,1
1,45,1,3,10,1,1,3,4,0,1
2,43,2,3,7,1,1,3,4,0,1
3,42,3,2,9,1,1,3,3,0,1
4,36,3,3,8,1,1,3,2,0,1

## Feature Selection

We should select the features to use in the logistic regression and Random Forests models. We are interested in factors such as:

- Education (different between husband and wife's)
- Employment status
- Reproduction / birth rate (# kids / age)

We will include these in our features as well as explore which others may be helpful in our prediction.